@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: none;
}

a {
  text-decoration: none;
}

.video-container {
  position: relative;
  display: inline-block;
  width: 1200px;
  height: 517px;
  margin: 64px auto;
}
.video-container img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.video-container a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(-20deg);
  background-color: #18C576;
  padding: 8px 16px;
  transition: 300ms ease background-color;
}
.video-container a:hover {
  cursor: pointer;
  background-color: #14a061;
}
.video-container a:hover .video-container-button {
  background-color: #14a061;
  cursor: pointer;
}
.video-container a .video-container-button {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  background-color: #18C576;
  transform: skew(20deg);
  transition: 300ms ease background-color;
}
.video-container a .video-container-button span {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  font-style: italic;
  line-height: 120%;
}

.product-cards-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 64px auto;
}
.product-cards-container .product-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-cards-container .slider-container {
  display: flex;
  grid-gap: 20px;
}
.product-cards-container .slider-buttons {
  display: none;
}
.product-cards-container .slider-buttons button {
  width: 8px;
  height: 8px;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
}
.product-cards-container .slider-buttons button.active {
  background-color: rgb(30, 30, 30);
}

.card-1, .card-2, .card-3, .card-4, .card-5 {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: white;
}
.card-1.card-1, .card-2.card-1, .card-3.card-1, .card-4.card-1, .card-5.card-1 {
  width: 387px;
  height: 328px;
}
.card-1.card-2, .card-1.card-3, .card-2.card-2, .card-2.card-3, .card-3.card-2, .card-3.card-3, .card-4.card-2, .card-4.card-3, .card-5.card-2, .card-5.card-3 {
  width: 387px;
  height: 154px;
}
.card-1.card-4, .card-1.card-5, .card-2.card-4, .card-2.card-5, .card-3.card-4, .card-3.card-5, .card-4.card-4, .card-4.card-5, .card-5.card-4, .card-5.card-5 {
  width: 184px;
  height: 328px;
}
.card-1 .product-image, .card-1 .product-image2, .card-2 .product-image, .card-2 .product-image2, .card-3 .product-image, .card-3 .product-image2, .card-4 .product-image, .card-4 .product-image2, .card-5 .product-image, .card-5 .product-image2 {
  width: 100%;
  object-fit: cover;
  display: block;
}
.card-1 .product-image, .card-2 .product-image, .card-3 .product-image, .card-4 .product-image, .card-5 .product-image {
  height: 100%;
}
.card-1 .product-image2, .card-2 .product-image2, .card-3 .product-image2, .card-4 .product-image2, .card-5 .product-image2 {
  height: 183px;
}
.card-1 .icons, .card-2 .icons, .card-3 .icons, .card-4 .icons, .card-5 .icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 2;
}
.card-1 .icons .icon, .card-2 .icons .icon, .card-3 .icons .icon, .card-4 .icons .icon, .card-5 .icons .icon {
  width: 19px;
  height: 19px;
  stroke: white;
  stroke-width: 2;
  fill: none;
  cursor: pointer;
  transition: opacity 0.3s;
}
.card-1 .icons .heart.active, .card-2 .icons .heart.active, .card-3 .icons .heart.active, .card-4 .icons .heart.active, .card-5 .icons .heart.active {
  fill: #ff0000;
  stroke: #ff0000;
}
.card-1 .icons .eye.active, .card-2 .icons .eye.active, .card-3 .icons .eye.active, .card-4 .icons .eye.active, .card-5 .icons .eye.active {
  stroke: #000000;
}
.card-1 .badges, .card-1 .overlay .bottom-row .badges, .card-1 .badges4, .card-1 .badges5, .card-2 .badges, .card-2 .overlay .bottom-row .badges, .card-2 .badges4, .card-2 .badges5, .card-3 .badges, .card-3 .overlay .bottom-row .badges, .card-3 .badges4, .card-3 .badges5, .card-4 .badges, .card-4 .overlay .bottom-row .badges, .card-4 .badges4, .card-4 .badges5, .card-5 .badges, .card-5 .overlay .bottom-row .badges, .card-5 .badges4, .card-5 .badges5 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 2;
}
.card-1 .badges span, .card-1 .overlay .bottom-row .badges span, .card-1 .badges4 span, .card-1 .badges5 span, .card-2 .badges span, .card-2 .overlay .bottom-row .badges span, .card-2 .badges4 span, .card-2 .badges5 span, .card-3 .badges span, .card-3 .overlay .bottom-row .badges span, .card-3 .badges4 span, .card-3 .badges5 span, .card-4 .badges span, .card-4 .overlay .bottom-row .badges span, .card-4 .badges4 span, .card-4 .badges5 span, .card-5 .badges span, .card-5 .overlay .bottom-row .badges span, .card-5 .badges4 span, .card-5 .badges5 span {
  padding: 0 11px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50px;
  color: white;
  width: fit-content;
}
.card-1 .badges span.discount, .card-1 .overlay .bottom-row .badges span.discount, .card-1 .badges4 span.discount, .card-1 .badges5 span.discount, .card-2 .badges span.discount, .card-2 .overlay .bottom-row .badges span.discount, .card-2 .badges4 span.discount, .card-2 .badges5 span.discount, .card-3 .badges span.discount, .card-3 .overlay .bottom-row .badges span.discount, .card-3 .badges4 span.discount, .card-3 .badges5 span.discount, .card-4 .badges span.discount, .card-4 .overlay .bottom-row .badges span.discount, .card-4 .badges4 span.discount, .card-4 .badges5 span.discount, .card-5 .badges span.discount, .card-5 .overlay .bottom-row .badges span.discount, .card-5 .badges4 span.discount, .card-5 .badges5 span.discount {
  width: 58px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #29c67e;
}
.card-1 .badges span.violet, .card-1 .overlay .bottom-row .badges span.violet, .card-1 .badges4 span.violet, .card-1 .badges5 span.violet, .card-2 .badges span.violet, .card-2 .overlay .bottom-row .badges span.violet, .card-2 .badges4 span.violet, .card-2 .badges5 span.violet, .card-3 .badges span.violet, .card-3 .overlay .bottom-row .badges span.violet, .card-3 .badges4 span.violet, .card-3 .badges5 span.violet, .card-4 .badges span.violet, .card-4 .overlay .bottom-row .badges span.violet, .card-4 .badges4 span.violet, .card-4 .badges5 span.violet, .card-5 .badges span.violet, .card-5 .overlay .bottom-row .badges span.violet, .card-5 .badges4 span.violet, .card-5 .badges5 span.violet {
  background-color: rgb(172, 89, 241);
}
.card-1 .badges span.pink, .card-1 .overlay .bottom-row .badges span.pink, .card-1 .badges4 span.pink, .card-1 .badges5 span.pink, .card-2 .badges span.pink, .card-2 .overlay .bottom-row .badges span.pink, .card-2 .badges4 span.pink, .card-2 .badges5 span.pink, .card-3 .badges span.pink, .card-3 .overlay .bottom-row .badges span.pink, .card-3 .badges4 span.pink, .card-3 .badges5 span.pink, .card-4 .badges span.pink, .card-4 .overlay .bottom-row .badges span.pink, .card-4 .badges4 span.pink, .card-4 .badges5 span.pink, .card-5 .badges span.pink, .card-5 .overlay .bottom-row .badges span.pink, .card-5 .badges4 span.pink, .card-5 .badges5 span.pink {
  background-color: rgb(255, 91, 198);
}
.card-1 .badges span.tag, .card-1 .overlay .bottom-row .badges span.tag, .card-1 .badges4 span.tag, .card-1 .badges5 span.tag, .card-2 .badges span.tag, .card-2 .overlay .bottom-row .badges span.tag, .card-2 .badges4 span.tag, .card-2 .badges5 span.tag, .card-3 .badges span.tag, .card-3 .overlay .bottom-row .badges span.tag, .card-3 .badges4 span.tag, .card-3 .badges5 span.tag, .card-4 .badges span.tag, .card-4 .overlay .bottom-row .badges span.tag, .card-4 .badges4 span.tag, .card-4 .badges5 span.tag, .card-5 .badges span.tag, .card-5 .overlay .bottom-row .badges span.tag, .card-5 .badges4 span.tag, .card-5 .badges5 span.tag {
  width: 83px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
}
.card-1 .badges span.violet, .card-1 .overlay .bottom-row .badges span.violet, .card-1 .badges4 span.violet, .card-1 .badges5 span.violet, .card-2 .badges span.violet, .card-2 .overlay .bottom-row .badges span.violet, .card-2 .badges4 span.violet, .card-2 .badges5 span.violet, .card-3 .badges span.violet, .card-3 .overlay .bottom-row .badges span.violet, .card-3 .badges4 span.violet, .card-3 .badges5 span.violet, .card-4 .badges span.violet, .card-4 .overlay .bottom-row .badges span.violet, .card-4 .badges4 span.violet, .card-4 .badges5 span.violet, .card-5 .badges span.violet, .card-5 .overlay .bottom-row .badges span.violet, .card-5 .badges4 span.violet, .card-5 .badges5 span.violet {
  background-color: rgb(172, 89, 241);
  width: 44px;
  height: 23px;
}
.card-1 .badges span.blue, .card-1 .overlay .bottom-row .badges span.blue, .card-1 .badges4 span.blue, .card-1 .badges5 span.blue, .card-2 .badges span.blue, .card-2 .overlay .bottom-row .badges span.blue, .card-2 .badges4 span.blue, .card-2 .badges5 span.blue, .card-3 .badges span.blue, .card-3 .overlay .bottom-row .badges span.blue, .card-3 .badges4 span.blue, .card-3 .badges5 span.blue, .card-4 .badges span.blue, .card-4 .overlay .bottom-row .badges span.blue, .card-4 .badges4 span.blue, .card-4 .badges5 span.blue, .card-5 .badges span.blue, .card-5 .overlay .bottom-row .badges span.blue, .card-5 .badges4 span.blue, .card-5 .badges5 span.blue {
  background-color: rgb(57, 176, 244);
  width: 98px;
  height: 23px;
}
.card-1.badges, .card-1 .overlay .bottom-row .card-1.badges, .card-2 .overlay .bottom-row .card-1.badges, .card-3 .overlay .bottom-row .card-1.badges, .card-4 .overlay .bottom-row .card-1.badges, .card-5 .overlay .bottom-row .card-1.badges, .card-2.badges, .card-1 .overlay .bottom-row .card-2.badges, .card-2 .overlay .bottom-row .card-2.badges, .card-3 .overlay .bottom-row .card-2.badges, .card-4 .overlay .bottom-row .card-2.badges, .card-5 .overlay .bottom-row .card-2.badges, .card-3.badges, .card-1 .overlay .bottom-row .card-3.badges, .card-2 .overlay .bottom-row .card-3.badges, .card-3 .overlay .bottom-row .card-3.badges, .card-4 .overlay .bottom-row .card-3.badges, .card-5 .overlay .bottom-row .card-3.badges, .card-4.badges, .card-1 .overlay .bottom-row .card-4.badges, .card-2 .overlay .bottom-row .card-4.badges, .card-3 .overlay .bottom-row .card-4.badges, .card-4 .overlay .bottom-row .card-4.badges, .card-5 .overlay .bottom-row .card-4.badges, .card-5.badges, .card-1 .overlay .bottom-row .card-5.badges, .card-2 .overlay .bottom-row .card-5.badges, .card-3 .overlay .bottom-row .card-5.badges, .card-4 .overlay .bottom-row .card-5.badges, .card-5 .overlay .bottom-row .card-5.badges {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-1 .badges4, .card-1 .badges5, .card-2 .badges4, .card-2 .badges5, .card-3 .badges4, .card-3 .badges5, .card-4 .badges4, .card-4 .badges5, .card-5 .badges4, .card-5 .badges5 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-1 .overlay, .card-2 .overlay, .card-3 .overlay, .card-4 .overlay, .card-5 .overlay {
  position: absolute;
  inset: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.card-1 .overlay .title, .card-2 .overlay .title, .card-3 .overlay .title, .card-4 .overlay .title, .card-5 .overlay .title {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}
.card-1 .overlay .bottom-row, .card-2 .overlay .bottom-row, .card-3 .overlay .bottom-row, .card-4 .overlay .bottom-row, .card-5 .overlay .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card-1 .overlay .bottom-row .bottom-bar, .card-2 .overlay .bottom-row .bottom-bar, .card-3 .overlay .bottom-row .bottom-bar, .card-4 .overlay .bottom-row .bottom-bar, .card-5 .overlay .bottom-row .bottom-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}
.card-1 .overlay .bottom-row .bottom-bar.column, .card-2 .overlay .bottom-row .bottom-bar.column, .card-3 .overlay .bottom-row .bottom-bar.column, .card-4 .overlay .bottom-row .bottom-bar.column, .card-5 .overlay .bottom-row .bottom-bar.column {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.card-1 .overlay .bottom-row .bottom-bar .price, .card-2 .overlay .bottom-row .bottom-bar .price, .card-3 .overlay .bottom-row .bottom-bar .price, .card-4 .overlay .bottom-row .bottom-bar .price, .card-5 .overlay .bottom-row .bottom-bar .price {
  font-weight: 700;
  font-size: 20px;
}
.card-1 .overlay .bottom-row .bottom-bar .btn, .card-2 .overlay .bottom-row .bottom-bar .btn, .card-3 .overlay .bottom-row .bottom-bar .btn, .card-4 .overlay .bottom-row .bottom-bar .btn, .card-5 .overlay .bottom-row .bottom-bar .btn {
  width: 142px;
  height: 32px;
  background-color: #00c46f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 20px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 300ms ease;
}
.card-1 .overlay .bottom-row .bottom-bar .btn:hover, .card-2 .overlay .bottom-row .bottom-bar .btn:hover, .card-3 .overlay .bottom-row .bottom-bar .btn:hover, .card-4 .overlay .bottom-row .bottom-bar .btn:hover, .card-5 .overlay .bottom-row .bottom-bar .btn:hover {
  background-color: #14a061;
}
.card-1 .card-text, .card-2 .card-text, .card-3 .card-text, .card-4 .card-text, .card-5 .card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 145px;
  padding: 12px 0;
}
.card-1 .card-text .title, .card-2 .card-text .title, .card-3 .card-text .title, .card-4 .card-text .title, .card-5 .card-text .title {
  color: rgb(68, 68, 68);
  font-weight: 600;
  font-size: 14px;
}
.card-1 .card-text .text-bottom, .card-2 .card-text .text-bottom, .card-3 .card-text .text-bottom, .card-4 .card-text .text-bottom, .card-5 .card-text .text-bottom {
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  width: 160px;
  height: 64px;
}
.card-1 .card-text .text-bottom .price, .card-2 .card-text .text-bottom .price, .card-3 .card-text .text-bottom .price, .card-4 .card-text .text-bottom .price, .card-5 .card-text .text-bottom .price {
  color: rgb(68, 68, 68);
  font-weight: 700;
  font-size: 20px;
}
.card-1 .card-text .text-bottom .btn, .card-2 .card-text .text-bottom .btn, .card-3 .card-text .text-bottom .btn, .card-4 .card-text .text-bottom .btn, .card-5 .card-text .text-bottom .btn {
  width: 160px;
  height: 32px;
  background-color: #00c46f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 20px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 300ms ease;
}
.card-1 .card-text .text-bottom .btn:hover, .card-2 .card-text .text-bottom .btn:hover, .card-3 .card-text .text-bottom .btn:hover, .card-4 .card-text .text-bottom .btn:hover, .card-5 .card-text .text-bottom .btn:hover {
  background-color: #14a061;
}

.bottom-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.product-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 387px;
  height: 223px;
  padding: 12px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19px;
}
.modal-header .modal-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
}
.modal-close {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #000;
  transition: color 0.2s;
}
.modal-close:hover {
  color: #494949;
}
.modal .form-group {
  margin-bottom: 25px;
}
.modal .form-group .error-message {
  position: absolute;
  color: #ff0000;
  font-size: 8px;
  margin-top: 5px;
  margin-left: 15px;
  font-weight: 500;
  display: none;
}
.modal .form-input {
  position: relative;
  width: 363px;
  height: 34px;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  transition: all 300ms ease;
}
.modal .form-input.error {
  border-color: #ff0000 !important;
  border-width: 1px;
}
.modal .form-input:focus {
  border-color: #3a3838;
  outline: none;
}
.modal .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .form-footer .checkbox-group {
  display: flex;
  align-items: center;
}
.modal .form-footer .checkbox-group input[type=checkbox] {
  margin-right: 6px;
  width: 8px;
  border-radius: 2px;
}
.modal .form-footer .checkbox-group .checkbox-label {
  font-size: 8px;
  font-weight: 500;
  color: rgb(68, 68, 68);
}
.modal .submit-btn {
  width: 106px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 197, 118);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: all 300ms ease;
  opacity: 33%;
}
.modal .submit-btn:hover {
  background-color: #00c46f;
  opacity: 100%;
}
.modal .submit-btn:disabled {
  cursor: not-allowed;
}

@media (max-width: 1203px) {
  .video-container {
    width: 784px;
    height: 337px;
  }
}
@media (min-width: 361px) and (max-width: 1203px) {
  .product-cards-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
  }
  .product-cards-container .card-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .product-cards-container .product-row:first-of-type {
    grid-column: 2;
    grid-row: 1;
  }
  .product-cards-container .product-row:last-of-type {
    grid-column: 3;
    grid-row: 1;
  }
  .product-cards-container .product-column {
    grid-column: 1/-1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 360px) {
  .video-container {
    width: 328px;
    height: 204px;
  }
  .video-container a {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 8px 13px;
  }
  .video-container a .video-container-button {
    grid-gap: 0px;
  }
  .product-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Состояние, когда второй слайд активен */
  }
  .product-cards-container .card-1 {
    width: 328px;
    height: 328px;
  }
  .product-cards-container .card-2, .product-cards-container .card-3 {
    width: 328px;
    height: 175px;
  }
  .product-cards-container .product-column {
    display: flex;
    flex-direction: column;
  }
  .product-cards-container .slider-container {
    position: relative;
    width: 100%;
    height: 380px; /* Подберите под ваши карточки */
    overflow: hidden;
    margin: 0 auto;
  }
  .product-cards-container .product-row {
    position: absolute;
    width: 100%;
    top: 0;
    transition: all 0.5s ease-in-out;
  }
  .product-cards-container .product-row:first-child {
    left: 20%;
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
  }
  .product-cards-container .product-row:nth-child(2) {
    left: 88%;
    opacity: 0.6;
    filter: brightness(0.9);
    transform: translateX(0);
    z-index: 1;
  }
  .product-cards-container .slider-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 3;
  }
  .product-cards-container .slider-buttons button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 0;
    transition: all 0.3s ease;
    outline: none;
  }
  .product-cards-container .slider-buttons button.active {
    background: #333;
    border-color: #333;
  }
  .product-cards-container .slider-container.slide-active .product-row:first-child {
    left: -50%;
    opacity: 0.6;
    filter: brightness(0.9);
    transform: translateX(0);
  }
  .product-cards-container .slider-container.slide-active .product-row:nth-child(2) {
    left: 20%;
    opacity: 1;
    filter: brightness(1);
    transform: translateX(0);
  }
  .product-cards-container .slider-container.slide-active .slider-buttons1 {
    background: rgba(255, 255, 255, 0.5);
    border-color: #ccc;
  }
  .product-cards-container .slider-container.slide-active .slider-buttons2 {
    background: #333;
    border-color: #333;
  }
}
@media (max-width: 360px) and (max-width: 768px) {
  .video-container {
    width: 100%;
    height: auto;
    margin: 32px 16px;
  }
  .video-container a {
    padding: 6px 12px;
  }
  .video-container .video-container-button {
    flex-direction: row;
    gap: 6px;
  }
}
@media (max-width: 360px) and (max-width: 480px) {
  .video-container {
    margin: 16px 8px;
  }
  .video-container a {
    font-size: 14px;
    padding: 4px 10px;
  }
  .video-container .video-container-button {
    flex-direction: column;
    gap: 4px;
  }
}

/*# sourceMappingURL=style.css.map */
